language: python
python:
  - "3.6"

services:
  - postgresql

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls --quiet

before_script:
  - createdb test_db

# command to run tests
script: 
  - nosetests --with-coverage --cover-package=app
after_success: coveralls
